body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #242631;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242631;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 50px;
    height: auto;
}

.navbar-logo span {
    font-size: 1.5em;
    color: #ffffff;
    margin-left: 10px;
}




.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-links a:hover,
.navbar-links a:focus {
    color: #8071dd;
    transform: translateY(-3px);
}

.navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8071dd;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar-links a:hover::after,
.navbar-links a:focus::after {
    width: 100%;
}




.navbar-action {
    display: flex;
    align-items: center;
}

.welcome {
    color: #ffffff;
    margin-right: 20px;
}

.metamask-connect:active {
    transform: translateY(2px);
    background-color: #6f5bb6;
  }

.metamask-connect {
    border: 2px solid transparent;
    padding: 10px 20px;
    background-color: #8a2be2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.metamask-connect img {
    width: 30px;
    height: 30px;
}










.market-container {
    margin-top: 50px;
    text-align: center;
}

.box-row {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 80%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-grow: 1; /* Allow columns to grow to fill space */
    margin: 0 5px; /* Optional: add some margin between columns */
}

.box {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    background-color: #323540;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#marketCapChart {
    color: white;
    width: 100%;
    height: 100px;
}

.large-box {
    width: 80%;
    margin: 20px auto;
    background-color: #323540;
    border-radius: 10px;
    overflow: auto; /* Allows scrolling */
    padding: 10px; /* Add some padding */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Style for the table */
table {
    width: 90%; /* Adjusted width */
    margin: auto; /* Center table in the flex container */
    border-radius: 10px;
    text-align: left;
    border-collapse: collapse;
    background-color: #242631;
    /* Adjust the table layout as necessary */
}

/* Style for table cells */
th, td {
    color: white;
    padding-left: 55px; /* Add padding inside each cell */
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Other styles for th and td */
}

/* Labels for the boxes */
.box div {
    color: white;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .box-row {
        flex-wrap: wrap;
    }

    .box, .large-box, #marketCapChart {
        width: 80%;
    }
}
