@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #242631;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242631;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 50px;
    height: auto;
}

.navbar-logo span {
    font-size: 1.5em;
    color: #ffffff;
    margin-left: 10px;
}




.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-links a:hover,
.navbar-links a:focus {
    color: #8071dd;
    transform: translateY(-3px);
}

.navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8071dd;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar-links a:hover::after,
.navbar-links a:focus::after {
    width: 100%;
}




.navbar-action {
    display: flex;
    align-items: center;
}

.welcome {
    color: #ffffff;
    margin-right: 20px;
}

.metamask-connect:active {
    transform: translateY(2px);
    background-color: #6f5bb6;
  }

.metamask-connect {
    border: 2px solid transparent;
    padding: 10px 20px;
    background-color: #8a2be2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.metamask-connect img {
    width: 30px;
    height: 30px;
}



/* ========================================================== */




.market-container {
    margin-top: 50px;
    text-align: center;
}

.box-row {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 80%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-grow: 1;
    margin: 0 5px;
}

.box {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    background-color: #323540;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#marketCapChart {
    color: #F8F8F8;
    width: 100%;
    height: 100px;
}

.large-box {
    width: 80%;
    margin: 20px auto;
    background-color: #323540;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the table */
table {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    border-collapse: collapse;
    background-color: #242631;
    
}

/* Style for table cells */
th, td {
    color: #F8F8F8;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

/* Labels for the boxes */
.box div {
    color: #F8F8F8;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .box-row {
        flex-wrap: wrap;
    }

    .box, .large-box, #marketCapChart {
        width: 80%;
    }
}


/* ========================================================== */


.portfolio-container {
    color: #F8F8F8;
    background-color: #323540;
    text-align: center;
    padding: 20px;
}

.portfolio-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* table {
    width: 100%;
    background-color: #242631;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #323540;
    padding: 8px;
    text-align: left;
} */

.nft-card {
    
    
    height: 300px;
    width: 250px;
    background-color: #242631;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.nft-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.nft-card a {
    color: #F8F8F8;
    text-decoration: none;
}

.nft-card-details {
    text-align: center;
}

/* ========================================================== */


/* Styling for the coin-screener-container */
.coin-screener-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242631;
    padding: 20px;
    width: 100%;
    color: #F8F8F8;
}

/* Styling for the coin-screen-data-box */
.coin-screen-data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 47px;
}

/* Styling for each coin detail */
.coin-detail {
    background-color: #323540;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for individual sections in the top-sections */
.coin-info, .community-dev-info {
    background-color: #323540;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 0 5px;
    color: #F8F8F8;
}

/* Style for the market data table container */
.market-table-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: #323540;
    margin-bottom: 20px;
}

/* Style for the description section */
.coin-description {
    width: 80%;
    background-color: #323540;
    border-radius: 10px;
    padding: 20px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

/* Adjusting table style */
table {
    width: 100%;
    border-radius: 10px;
    text-align: left;
    border-collapse: collapse;
    background-color: #242631;
}

th, td {
    color: #F8F8F8;
    padding: 10px 55px; 
}

th {
    border-bottom: 2px solid #F8F8F8;
}

td {
    border-bottom: 1px solid #323540;
}

.coin-image {
    width: 50px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}
